<footer class="footer mt-auto bg-dark text-muted py-3 text-center">
  <span>&copy; Yelpcamp 2021 |</span>
  <span class="me-2">Made with ๐งก By Lalit |</span>
  <i class="fab fa-github me-1"></i>
  <a href="https://github.com/Lalit3716" target="_none">GitHub</a>
</footer>
